name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libpoppler-cpp-dev pkg-config cmake build-essential

      - name: Install dependencies (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          brew install poppler pkg-config cmake

      - name: Configure CMake
        run: |
          mkdir build
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: |
          cmake --build build --config Release

      - name: Packaging (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          mv build/pdf2cbz pdf2cbz-linux-x64
          tar -czvf pdf2cbz-linux-x64.tar.gz pdf2cbz-linux-x64

      - name: Packaging (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          mv build/pdf2cbz pdf2cbz-macos-x64
          tar -czvf pdf2cbz-macos-x64.tar.gz pdf2cbz-macos-x64

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ matrix.os }}
          path: pdf2cbz-*.tar.gz

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            binaries-ubuntu-latest/pdf2cbz-linux-x64.tar.gz
            binaries-macos-latest/pdf2cbz-macos-x64.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
